[submodule "libuavcan_drivers/lpc11c24/test_olimex_lpc_p11c24/firmware/zubax_chibios"]
	path = libuavcan_drivers/lpc11c24/test_olimex_lpc_p11c24/firmware/zubax_chibios
	url = https://github.com/Zubax/zubax_chibios
